<div id="content-wrapper" class="container-fluid"> 
    <div class="container scroll-modal py-5">
        <nav class="navbar-toggler breadcrumb mt-5" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dividers-chevron bg-transparent mt-5 text-center">
                <li class="breadcrumb-item"><a class="text-decoration-none text-light" [routerLink]="['/']"><b>Home</b></a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none text-light" [routerLink]="['/shop']"><b>Shop</b></a></li>
                <li class="breadcrumb-item text-light active" aria-current="page">Product Details</li>
            </ol>
        </nav>
    
        <div class="modal-body mt-5">
            <hr class="mb-5">
            <div class="container">
                <h1 class="text-center">{{productDetails?.brand | titlecase}} {{productDetails?.name | titlecase}}</h1>
                <div class="row">
                    <div class="col-lg-7 col-md-4 col-sm-12 my-3 text-right">
                        <div class="product-details px-4 py-4">
                            <ng-container *ngIf="productDetails?.price < 1">
                                <h4 style="color: red;">{{productDetails?.name | titlecase}} is currently out of stock</h4>
                            </ng-container>
                            <p><b>{{productDetails?.brand | titlecase}} {{productDetails?.name | titlecase}}</b></p>
                        <p><b>Price :</b> {{productDetails?.price_sign}} {{productDetails?.price}}</p> 
                        <p>
                            <b>Star Rating: </b>{{productDetails?.rating | uppercase}} 
                            <span *ngIf="productDetails?.ratings == null">Rating unavailable for this product</span>
                        </p>
                        
                        <p><b>Brand :</b> {{productDetails?.brand | titlecase}}</p>
                        <p><b>Category :</b> {{productDetails?.category | titlecase}}</p>
                        <p><b>Product :</b> {{productDetails?.product_type | titlecase}}</p>
                        <p><b>Description :</b> {{productDetails?.description}}</p>
                        </div>
                        <div class="mt-5 px-4 py-4">
                            <div class="product-details px-4 py-4">
                                <p>
                                    <i class="fa fa-plus fa-sm" (click)="increment(productDetails)" aria-hidden="true"></i>
                                </p> 
                                <span>{{quantity}} </span>
                                <p>
                                    <i class="fa fa-minus fa-sm" (click)="decrement(productDetails)" aria-hidden="true"></i>
                                </p>
                            </div>
                            <p class="pt-4"><b>Total:</b> {{productDetails?.price_sign}} {{counter}}</p>
                            <p>
                                <button class="shop-btn btn" [disabled]="productDetails?.price < 1" (click)="addToCart(productDetails)">Add to Cart</button>
                            </p>
                            <p>
                                <button class="btn shop-btn" [routerLink]="['/cart-details']">View Cart Items</button>
                            </p>
                        </div>    
                    </div>
    
                    <div class="col-lg-5 col-md-4 col-sm-12 my-5 text-center">
                        <img src="{{productDetails?.api_featured_image}}" class="mt-5" style="height:65vh!important;width:30vw!important;" alt="{{productDetails?.name}}">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
