  <app-navbar></app-navbar>
  <div id="wrapper">
    <div id="homepage-container" class="container-fluid">
      <div class="row" >
        <div id="container-img">
          <img src="/assets/images/image.png">
        </div>
        <div id="anime-div">
          <h1 class="animate__animated animate__fadeInRightBig">
            Allure
          </h1>
          <p class="animate__animated animate__fadeInUp">Pamper Yourself__The World Can Wait</p>
        </div>
      </div>
    </div>
  
    <div class="container-fluid" id="marquee-container">
      <marquee id="marquee" behavior="scroll" direction="left">
        <div class="row">
          <div class="marquee">
            <span>
              <img src="assets/images/majid-akbari--CE-5hQSoOQ-unsplash.jpg" style="height:342px!important;width:342px!important;" class="img-fluid"  alt="Natural"/> 
            </span>     &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <span>
              <img src="/assets/images/2_3.jpg" style="height:342px!important;width:342px!important;"alt="instagram picture" class="img-fluid"> 
            </span> &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <span>
              <img src="/assets/images/home-hero.jpg" style="height:342px!important;width:342px!important;" alt="instagram picture" class="insta-img">
            </span>  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <span>
              <img src="/assets/images/05.jpg" style="height:342px!important;width:342px!important;" alt="instagram picture" class="insta-img"> 
            </span>    &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;        
            <span>
              <img src="assets/images/img-quote-1.jpg" style="height:342px!important;width:342px!important;" class="img-fluid"  alt="Natural" />
            </span>     &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;   
            <span>
              <img src="/assets/images/img-about.jpg" style="height:342px!important;width:342px!important;"alt="instagram picture" class="img-fluid">
            </span> &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <span>
              <img src="/assets/images/img-quote-2.jpg" style="height:342px!important;width:342px!important;" alt="instagram picture" class="insta-img">
            </span>  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <span>
              <img src="/assets/images/beauty-product-collection-set-with-vibrant-colors-generative-ai - Copy.jpg" style="height:342px!important;width:342px!important;" alt="instagram picture" class="insta-img">
            </span>   &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;        
            <span>
              <img src="assets/images/shane-devlin-zuqVfxtSklc-unsplash.jpg" class="img-fluid" style="height:342px!important;width:342px!important;"  alt="Natural" /> 
            </span> &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <span>
              <img src="/assets/images/03.png" style="height:342px!important;width:342px!important;" alt="instagram picture" class="img-fluid"> 
            </span>&nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <span>
              <img src="/assets/images/banner-04_1197x700_crop_center.progressive.jpg" style="height:342px!important;width:342px!important;" alt="instagram picture" class="insta-img"> 
            </span> &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <span>
              <img src="/assets/images/brushes-6d2ab84631ecd47ced4fa07c47eb37521eb61c5a525965dafaf308f21338aa44.png" style="height:342px!important;width:342px!important;" alt="instagram picture" class="insta-img"> 
            </span>   &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;           
            <span>
              <img src="assets/images/nati-melnychuk-tnWjbdPmk1M-unsplash.jpg"  style="height:342px!important;width:342px!important;" class="img-fluid"  alt="Natural" /> 
            </span>  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <span>
              <img src="/assets/images/service01.jpg" style="height:342px!important;width:342px!important;"alt="instagram picture" class="img-fluid"> 
            </span> &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <span>
              <img src="/assets/images/Rectangle-13.png" style="height:342px!important;width:342px!important;"alt="instagram picture" class="insta-img">
            </span>  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <span>
              <img src="/assets/images/img-quote-3.jpg" style="height:342px!important;width:342px!important;"alt="instagram picture" class="insta-img"> 
            </span>    
        </div>
        
      </div>  
      </marquee>
    </div>

  <div class="container">
    <div class="modal-body">
        <div class="row justify-space-between">
          <div class="fv-row mb-7 col-lg-5 col-md-6 col-sm-12">
              <img src="/assets/images/Rectangle-14-16.png" class="camera-img img-fluid animate__animated animate__animate__zoomInDown__delay-5s" alt="a picture of a model">
          </div>
          <div class="fv-row mb-7 col-lg-7 col-md-6 col-sm-12 my-5 px-5 py-5 bg-light rounded">
              <h1 class="py-5 text-center">Our Products</h1>
              <div class="row">
                <div class="fv-row mb-7 col-lg-6 col-md-6 col-sm-6">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices risus eget nunc ullamcorper, ut consectetur eros mattis. Praesent lobortis in est sit amet pretium.
                  </p>
                </div>
                <div class="fv-row mb-7 col-lg-6 col-md-6 col-sm-6">
                  <p>
                      Fusce ante libero, ultrices sed ullamcorper quis, volutpat in metus. Mauris pulvinar, neque in porttitor faucibus, tortor enim.
                  </p>
                </div>
              </div>
              <p class="text-center"><button class="btn shop-btn" [routerLink]="['/shop']">View Products</button></p>
          </div>
        </div>
    </div>
  </div>

    <div class="container-fluid beauty-container text-center py-5 ">
      <p class="display-4 py-5">Be stylish, be bold, be <br>
        yourself!
      </p>

      <p class="display-5 py-4">
        Allure Cosmetics offers the latest styles in cosmetics. Remember, style is <br> permanent whereas fashion is transient and ever-changing…Go for the <br> stylish cosmetics from Ace.
      </p>
      <p class="display-5 py-4">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat <br>sequi nesciunt ipsam, et dolorum dolorem optio corporis vero impedit <br> beatae vel deserunt? Facere, repellendus incidunt fugiat fugit ullam <br>culpa corporis.
      </p>
      <p>
        <button class="btn shop-btn" [routerLink]="['/shop']">Start Shopping</button>
      </p>
    </div>

    <div id="new-bottle-container" class="container-fluid py-5">
      <div class="row">
        <div class="fv-row mb-7 col-lg-5 col-md-12 col-sm-12 mt-5 p-5 text-light text-left">
          <h1 class="pt-5" pb-3>Alluring Beauty</h1>
          <h3 class="py-5">Find The Best Cosmetics Here</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, quia iusto illum cupiditate quas doloremque fugiat expedita? Dolores placeat magni voluptatem, minima veritatis ipsam illo pariatur dolor ad aut vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero iure provident dignissimos consectetur quae eum ipsam officiis, error, praesentium eligendi, accusamus soluta ab. Asperiores obcaecati, perspiciatis minima corrupti ullam fuga.

          </p>
          <p><button class="btn shop-btn" [routerLink]="['/shop']">Explore Products</button></p>
        </div>
        <div class="fv-row mb-7 col-lg-7 col-md-0 col-sm-0 ">
        
          
      </div>
    </div>
   </div>
  
    <div class="modal-body py-5 container-fluid testimonials-div">
      <h1 class="text-center">Users Testimonies</h1>
      <hr class="mb-5 top-hr">
      <div class="container text-center">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 my-3" *ngFor="let comments of usersComments">
                  <img src="{{comments.profile_picture}}" style="height:38vh!important;width:27vw!important;" class="img-fluid rounded-circle" alt="">
                  <p>{{comments.first_name}} {{comments.last_name}}</p>
                  <small>{{comments.email}}</small>
                      
              </div>
          </div>
      </div>
    </div>

    <div class="modal-body text-center mt-5">
      <small class="">The Best Products Of Beauty Store</small>
      <h1 class="mb-5"> Featured Brands</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 my-3">
            <a [routerLink]="['/product-category/',lipstick]" class="btn product-type-image" >
              <img src="/assets/images/lipstick-images.png"  class="img-responsive" alt="lipstick">
              <p class="my-3" style=" font-weight: bolder;">Lipstick</p>
          </a>
          </div>
          <!-- <div class="col-lg-2 col-md-4 col-sm-6 my-3">
            <button (click)="onItemSelector('Eyeliner')" type="button" class="btn">
              <img src="/assets/images/eyeliner-image.png" class="img-responsive" alt="eye liner">
            </button>
          </div> -->
           <div class="col-lg-3 col-md-4 col-sm-6 my-3">
            <a [routerLink]="['/product-category/',blush]" class="btn product-type-image">
              <img src="/assets/images/blush-image.png"  class="img-responsive" alt="blush">
              <p class="my-3" style=" font-weight: bolder;">Palette</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 my-3">
            <a [routerLink]="['/product-category/',foundation]" class="btn product-type-image">
              <img src="/assets/images/foundation-image.png" class="img-responsive" alt="foundation">
              <p class="my-3" style="font-weight: bolder; ">Foundations</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 my-3">
            <a  [routerLink]="['/product-category/',nail]" value="Nail polish" class="btn product-type-image">
              <img src="/assets/images/png-clipart-black-eyeliner-pencils-eye-liner-make-up-cosmetics-eye-liner-people-color-thumbnail-removebg-preview.png" class="img-responsive" alt="Nail polish">
              <p class="my-3" style="font-weight: bolder; ">Pencil</p>
            </a>
          </div>
        </div>
      </div>
    </div> 
    <div class="modal-body py-5">
      <h1 class="text-center">Our Services</h1>
      <hr class="top-hr">
      <hr class="second-hr mb-5">
      <div class="container text-center">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 my-3">
                <p><i class="fa-solid fa-truck-fast fa-lg"></i></p>
                <p>Lorem Ipsum is simply dummy</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-3">
              <p><i class="fa-sharp fa-solid fa-bag-shopping fa-lg"></i></p>
              <p>Lorem Ipsum is simply dummy</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-3">
              <p><i class="fa-solid fa-user fa-lg"></i></p>
              <p>Lorem Ipsum is simply dummy</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-3">
              <p><i class="fa-solid fa-gift fa-lg"></i></p>
              <p>Lorem Ipsum is simply dummy</p>
            </div>
          </div>
      </div>
  </div>
    <div class="container-fluid mt-4 footer-container text-light">
      <div class="row text-center">
        <div class="col-lg-1 col-md-0 col-sm-0 my-3"></div>
        <div class="col-lg-2 col-md-4 col-sm-6 my-3">
          <img src="/assets/images/logo-brand1.png" alt="">
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 my-3">
          <img src="/assets/images/logo-brand2.png" alt="">
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 my-3">
          <img src="/assets/images/logo-brand3.png" alt="">
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 my-3">
          <img src="/assets/images/logo-brand4.png" alt="">
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 my-3">
          <img src="/assets/images/logo-brand5.png" alt="">
        </div>
        <div class="col-lg-1 col-md-0 col-sm-0 my-3"></div>
        <div class="row text-left mx-2">
          <div class="col-lg-4 col-md-4 col-sm-6 my-3">
            <h4>Contact Us</h4>
            <p><i class="fa-solid fa-location-crosshairs"></i> 8901 Madonna Road, Glashouse D04 89 GR, New Yorkshire</p>
            <p>
              <i class="fa-sharp fa-regular fa-envelope"></i>  &nbsp; 
              <a href="mailto:ofunebi@gmail.com">Support@gmail.com</a>
            </p>
            <p><i class="fa-solid fa-phone"></i> &nbsp;   0123456789 - Phone 2: 0123456789</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 my-3">
            <h4>Social Connect</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 my-3">
            <h4>Our Newsletter</h4>
            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor.</p>
            <form class="form w-100" [formGroup]="formGroup" novalidate="novalidate" id="add-area-form">
            <label class="form-label fw-bolder text-dark fs-6">Email</label>
            <input 
                type="text" 
                class="form-control form-control-lg form-control-solid"
                name="email" placeholder="Enter Your Email"
                formControlName="email"
                
                />
                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'email',
                    message: 'Email format is incorrect',
                    control: formGroup.controls['email']
                  }"
                ></ng-container>
              </form>        
          </div>
        </div>
      </div>
      <div class="row mx-2">
        <div class="col-lg-2 col-md-4 col-sm-6 my-3">
          <h4>our shop</h4>
          <p>Product Support</p>
          <p><a href="">PC setup & Support</a></p> 
          <p><a href="">Services</a></p>
          <p><a href="">Extended Service Plans</a></p>
          <p><a href="">Community</a></p>
          <p><a href="">Site Map</a></p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 my-3">
          <h4>Your Links</h4>
          <p><a href="">Shipping Guide</a></p> 
          <p><a href="">Store Location</a></p>
          <p><a href="">Affiliates</a></p>
          <p><a href="">Customer Point Policy</a></p>
          <p><a href="">Refund Policy</a></p>
          <p><a href="">Specials</a></p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 my-3">
          <h4>Support</h4>
          <p><a href="">Product Support </a></p> 
          <p><a href="">PC support & Setup</a></p>
          <p><a href="">Services</a></p>
          <p><a href="">Extended Service Plan</a></p>
          <p><a href="">Community</a></p>
          <p><a href="">Site Map</a></p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 my-3">
          <h4>My Account</h4>
          <p><a href="">About Us </a></p> 
          <p><a href="">Contact Us</a></p>
          <p><a href="">FAQs</a></p>
          <p><a href="">Help Center</a></p>
          <p><a href="">Checkout</a></p>
          <p><a href="">My Order</a></p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
          <h4>Visit Our Instagram Page</h4>
            <a href="">
              <div class="row text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-2"> 
                  <img src="assets/images/ins-1.jpg" alt="instagram picture" class=" img-fluid">         
                  <img src="assets/images/ins-2.jpg" alt="instagram picture" class="img-fluid">               
                  <img src="assets/images/ins-3.jpg" alt="instagram picture" class="img-fluid">                 
                  <img src="assets/images/ins-4.jpg" alt="instagram picture" class="img-fluid">    
                </div>           
                <div class="col-lg-12 col-md-12 col-sm-12"> 
                  <img src="assets/images/ins-5.jpg" alt="instagram picture" class="insta-img">             
                  <img src="assets/images/ins-6.jpg" alt="instagram picture" class="insta-img">                
                  <img src="assets/images/ins-7.jpg" alt="instagram picture" class="insta-img">                 
                  <img src="assets/images/ins-8.jpg" alt="instagram picture" class="insta-img">                 
                </div>
              </div>
            </a>   
        </div>
      </div>
    </div>
</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.dirty || control.touched">
      <div class="fv-plugins-message-container">
          <div class="fv-help-block text-light">
              <span role="alert" >
                  {{ message }}
              </span>
          </div>
      </div>
  </ng-container>
</ng-template>